:root {
 /* шрифти */
  --font-family-primary: "Roboto", sans-serif;
  --font-weight-more: 700;
  --font-weight-less: 500;
  --font-size-more: 16px;
  --font-size-less: 14px;
  /* колор */
  --color-primary: #757575;
  --color-secondary: #212121;
  --color-brand: #2f303a;
  --color-img-overlay: rgba(47, 48, 58, 0.4);
  --color-accent: #2196f3;
  --top-line-bg: #ffffff;
  --color-background: #ffffff;
  --color-background-light: #f5f4fa;
  --color-logo: #000000;
  --color-logo-footer: #ffffff;
  --color-hero: #ffffff;
  --color-white: #ffffff;
  --color-activ-btn: #188ce8;
  --color-header-border: #ececec;
  --color-border-box: #eeeeee;
  --color-icon: #afb1b8;
  --color-contact-tooter: rgba(255, 255, 255, 0.6);
}
/* спадкодавець */
body {
  background-color: var(--color-background);
  color: var(--color-primary);
  font-family: var(--font-family-primary);
  margin: 0;
}

/* скидання властивості стилей */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.image {
  display: block;
}

.connect {
  text-decoration: none;
}
/* кнопка загальні властивості */
.button {
  border: none;
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;
  border-radius: 4px;
  font-family: inherit;
  font-size: var(--font-size-more);
}

/* Порядок оформлення стилів:
1. Блочна модель (геометрія)
2. Кольор та текст
3. Ефекти (аніації, переходи) */

/* Оформлення блоків */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

/* heder */
.top-line {
  background-color: var(--top-line-bg);
  border-bottom: 1px solid var(--color-header-border);
}

/*logo*/
.logo {
  color: var(--color-accent);
}

.logo-link {
  margin-right: 93px;
  color: var(--color-logo);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

/*  header */
.mein-line {
  display: flex;
}
/* Site nav*/
.nav-sector {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
}
.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .connect {
  display: block;
  padding: 32px 0;
  color: var(--color-secondary);
  font-weight: var(--font-weight-less);
  font-size: var(--font-size-less);
  line-height: 1.143;
}

.site-nav .connect:hover,
.site-nav .connect:focus {
  color: var(--color-accent);
}

.site-nav .connect.current {
  color: var(--color-accent);
}

/*contact*/
.contact {
  display: flex;
  margin-left: auto;
}

.contact .item + .item {
  margin-left: 50px;
}
/* Мейл. тел. */
.contact .connect {
  display: flex;
  padding: 32px 0;
  gap: 10px;
  color: var(--color-primary);
  font-weight: var(--font-weight-less);
  font-size: var(--font-size-less);
  line-height: 1.143;
}

.contact .connect:hover,
.contact .connect:focus {
  color: var(--color-accent);
}

/* іконки мейл. тел. */
.connect .icon {
  align-self: center;
  fill: currentColor;
}

/* hero */
.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  /* max-width: 1600px; */
  margin-right: auto;
  margin-left: auto;
  background-color: var(--color-brand);
  background-image: linear-gradient(to right, var(--color-img-overlay), var(--color-img-overlay)),
    url(../images/studio/Img-team.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06em;
  width: 696px;
  color: var(--color-hero);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
}

.button-hero {
  padding: 10px 32px;
  min-width: 216px;
  align-items: center;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: var(--font-weight-more);
  line-height: 1.9;
}
/* активна кнопка в герої*/
.button-hero:hover,
.button-hero:focus {
  background-color: var(--color-activ-btn);
}
/* section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-right: 0;
}

/* переваги студії */
.merit {
  display: flex;
  max-width: 1170px;
  height: 248px;
  margin-left: 0;
}

.visually-hidden {
  position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.list-merit {
  width: 270px;
  margin-left: 30px;
}

.list-merit:first-child {
  margin-left: 0;
}

.thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: var(--color-background-light);
  border-radius: 4px;
  margin-bottom: 30px;
}

.section-subtitle {
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;

  color: var(--color-secondary);
  font-weight: var(--font-weight-more);
  font-size: var(--font-size-less);
  line-height: 1.143;
}

.member {
  margin-bottom: 30px;
}

/* чим ми займаемося */
.section-work {
  padding-top: 0;
}
.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  color: var(--color-secondary);
  font-weight: var(--font-weight-more);
  font-size: 36px;
  line-height: 1.2;
}

.work {
  display: flex;
}
.work-foto {
  margin-left: 30px;
}
.work-foto:first-child {
  margin-left: 0;
}

/* наша команда */
.section-team {
  background-color: var(--color-background-light);
}

.team {
  display: flex;
}

.team-list {
  margin-left: 30px;
  background-color: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list:first-child {
  margin-left: 0;
}

.desc-text {
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;

  font-size: var(--font-size-more);
  line-height: 1.2;
}

/* блок посилань на соцмережи */
.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  gap: 10px;
  margin-bottom: 30px;
}

/* посилання на соцмережи */
.item .social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  color: var(--color-icon);
}

.social-link .icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.item .social-link:hover,
.item .social-link:focus {
  background-color: var(--color-accent);
  color: var(--color-white);
}

/* Постійні кліенти */
.clients {
  display: flex;
}
.clients-card {
  display: flex;
  margin-left: 30px;
}

.clients-card:nth-child(1) {
  margin-left: 0;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
}

.clients-link .thumb-icon {
  width: 170px;
  height: 92px;
  fill: var(--color-icon);
  padding: 0 32px;
  border: 1px solid var(--color-icon);
  border-radius: 4px;
}

.clients-link .thumb-icon:hover {
  fill: var(--color-accent);
  border-color: var(--color-accent);
}

/* futer */
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--color-brand);
}
/* logo */
.logo-footer {
  color: var(--color-logo-footer);
}
/* address */
.list-item {
  margin-top: 9px;
}
.list-item:first-child {
  margin-top: 20px;
}
.reach {
  color: var(--color-white);
  font-style: normal;
  font-weight: inherit;
  font-size: var(--font-size-less);
  line-height: 1.714;
}

.reach:hover,
.reach:focus {
  color: var(--color-accent);
}

.contact-address {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: inherit;
  font-size: var(--font-size-less);
  line-height: 1.714;
}

.contact-address:hover,
.contact-address:focus {
  color: var(--color-accent);
}

/* запрошення у футорі */
.page-footer .container {
  display: flex;
  gap: 70px;
  align-items: baseline;
}

.welcome-text {
  text-transform: uppercase;
  font-size: 14px;
  line-height: calc(16.41 / 14);
  letter-spacing: 0.03em;
  color: var(--color-white);
  margin-bottom: 20px;
}

.welcome-link {
  background: rgba(255, 255, 255, 0.1);
}

.welcome-link .icon {
  fill: var(--color-white);
}

/* porfolio */
/* кнопки фільтр */
.btn-line {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.button-filter {
  padding: 6px 22px;
  color: var(--color-secondary);
  background: var(--color-background-light);
  font-weight: var(--font-weight-less);
  line-height: 1.625;
}

.button-filter:hover,
.button-filter:focus {
  background-color: var(--color-accent);
  color: var(--color-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-filter:active {
  background-color: var(--color-activ-btn);
}

/* список робіт */
.portfolio {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;

}
.portfolio-box {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-box:nth-child(3n) {
  margin-right: 0;
} 

.portfolio-box:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-box > .text-content {
  padding: 20px 24px;
  border: 1px solid var(--color-border-box);
  border-top: 0;
}

.portfolio-box:hover,
.portfolio-box:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.post-text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: var(--font-size-less);
  line-height: 1.714;
}

.box-subtitle {
  margin: 0;
  color: var(--color-secondary);
  font-weight: var(--font-weight-more);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.desc {
  margin: 0;
  margin-top: 4px;
  color: var(--color-primary);
  font-size: var(--font-size-more);
  line-height: 1.9;
  letter-spacing: 0.03em;
}

/* чи буде кращим використати для фону у герої контейнер .container-fluid ? */
